html{
    /*! font-family: 'Fjalla One', sans-serif; */
    font-family: 'Roboto', sans-serif;


}

body{
    width: 100%;
    margin: 0px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
a{
    color: black;
}
a:link{
    
    text-decoration: none;
    border-radius: 3px;
}

a:hover{
  background-color: rgb(0, 0, 0, 0.2);
}

.logo{
    font-size: 28px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image:url("images/portada.jpg");
    background-size: 100%,100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.textoPortada {
    margin-top: 100px;
    color: beige;
    font-size: 20px;
    margin-left: 425px;
    background-color: rgb(0, 0, 0, 0.4);

}
.containerArrivals{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 90vh;
    background-image: url("images/tienda.jpg");
    border-radius: 10px;

}
.text1{
    margin-top:100px;
     color: beige; 
     font-size: 20px; 
     text-align: center; 
}
.clickNewArrivals{
    margin-top: 300px;
    background-color: cadetblue;
    border-radius: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 25px;
   
}
.centrar{
    margin-top: 50px;
    margin-left: 550px;
}
.container2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.img{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    background-image: url("images/backpack.jpg");
    background-size: 100%,100vh;
    background-repeat: no-repeat;
    border-color: blueviolet;
    border-radius: 20px;
   
}

.img2{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    margin-left: 30px;
    background-image: url("images/card1.jpg");
    background-size: 100%,100vh;
    background-repeat: no-repeat;
    border-radius: 20px
}

.descp{
    text-align: center;
    margin-top: 0px;
    color: antiquewhite;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 18px;
}

.liquidacion{
    background-color: cadetblue;
    border-radius: 10px;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 20px;
    margin-top: 310px;
    margin-left: 280px;
}

.enc{
    margin-top: 200px;
    text-align: center;
}
.containerLookbook{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 100px;
    width: 80%;    
}
.lookbook{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-image: url("images/img3.jpg");
    border-radius: 10px;
}

.descp2{
    text-align: center;
    margin-top: 362px;
    color: antiquewhite;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
}

.lookbook2{
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-image: url("images/img5.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.lookbook3{
    
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-image: url("images/img6.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.lookbook4{
    margin-left: 0px;
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-image: url("images/img7.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.lookbook5{
    margin-top: 50px;
    margin-left: 20px;
    width: 300px;
    height: 400px;
    background-image: url("images/img9.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.lookbook6{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background-image: url("images/img10.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}
.imgnewsletter{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
    margin-top: 30px;
    border-radius: 10px;
    
  
}

.imgnews{
    width: 50%;
    opacity: 0.7;
    
}
.logonewsletter{
    margin-top: 30px;
   text-align: center;
   margin-bottom: 0px;
}

.textnewsletter{
margin-top: 100px;
margin-right: 50px;
margin-left: 50px;

}

.inputnewsletter{
    width: 50%;
    margin-left: 140px;
    
}
input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    background-color:  cadetblue;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 15px;

}
.iconscontainer{
    background-color: #ddd;
    width: 77%;
	padding: 80px;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}

.icon-button {
	background-color: white;
	cursor: pointer;
	font-size:13px;
	height: 40px;
	line-height: 2.6rem;
	margin: 0 15px;
    width: 40px;
    
}



@media all and (max-width: 680px) {
    .icon-button {
      border-radius: 10px;
      font-size: 10px;
      height: 20px;
      line-height: 20px;
      width: 20px;
    }
  
    
    .iconscontainer {
  
        padding: 10px;
    }
}